.container {
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #2c3e50;
}

.form-section {
  margin: 20px 0;
}

input {
  padding: 8px;
  width: 60%;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button.delete {
  background-color: red;
}

.message {
  color: green;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #3498db;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
}